#aboutMe {
    #aboutMeContent {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        border: solid black 1px;
        padding: 20px;
        //Center the div by giving it a width and auto margin for left & right
        width: 90%;
        margin: 20px auto;
        background-color: rgba(134, 98, 113, 0.404);
        border-radius: 8px;
        box-shadow: 10px 10px 30px 4px #0e200e;
    }
    #jobHistory,
    #now {
        width: 45%;
        text-align: justify;
    }
    #now {
        font-size: 1.2rem;
        line-height: 2.2rem;
        .maze {
            font-size: 1.5rem;
        }
    }
    #other {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}