#contact {
    #contactBlock {
        display: flex;
        flex-wrap: wrap;
        #contactForm {
            display: flex;
            flex-direction: column;
            width: 50%;
            // margin: auto;
            .form-group {
                display: flex;
                flex-direction: column;
            }
        }
        #aliceNeck {
            width: 30%;
            height: auto;
        }
    }
}