header {
    margin-bottom: 100px;
    nav {
        display: flex;
        flex-wrap: wrap !important;
        align-items: center;
        justify-content: center;
        .maze {
            font-size: 1.4rem;
        }
        #socialHeader {
            .devicon {
                font-size: 2rem;
            }
        }
    }
}