    #projects {
        #projectGrid {
            // background-image: url("http://www.seekgif.com/uploads/background-images-for-games-0.jpeg");
            .row {
                margin-bottom: 30px;
                .card {
                    margin-right: 15px;
                }
            }
        }
        #downloadCityzen {
            width: 90%;
            margin: auto;
            text-align: center;
            a {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                color: black;
                font-size: 1.5rem;
                img {
                    width: 20rem;
                }
            }
        }
    }