#skills {
    #skillsContent {
        #programming {
            text-align: center;
            margin: 50px 0;
            .devicon {
                font-size: 5rem;
                margin-right: 15px;
            }
            .progIcons {
                margin-bottom: 30px;
            }
        }
        #downloadResume {
            width: 50%;
            margin: auto;
            text-align: center;
            a {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                color: black;
                font-size: 1.5rem;
                img {
                    width: 12rem;
                }
            }
        }
    }
}