#welcome {
    max-width: 75rem;
    margin: 20px auto;
    .card {
        box-shadow: 10px 10px 30px 4px #0e200e;
        a {
            color: white;
        }
        #avatarWelcome {
            width: 20rem;
        }
        #loadingWelcome {
            display: inline;
        }
    }
}